USE [ACMS]
GO
/****** Object:  Table [dbo].[SYS_EMAIL_FILE]    Script Date: 2026-04-07 오후 6:19:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_EMAIL_FILE](
	[EMAIL_FILE_SEQ] [bigint] NOT NULL,
	[FILE_GRP_SEQ] [bigint] NULL,
	[RMK] [nvarchar](500) NULL,
	[STATUS] [nvarchar](20) NULL,
	[REG_USER_SEQ] [bigint] NULL,
	[REG_DT] [datetime] NULL,
	[DEL_DT] [datetime] NULL,
 CONSTRAINT [PK_SYS_EMAIL_FILE] PRIMARY KEY NONCLUSTERED 
(
	[EMAIL_FILE_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SYS_EMAIL_FILE]  WITH CHECK ADD  CONSTRAINT [FK_SYS_FILE_GROUP_TO_SYS_EMAIL_FILE] FOREIGN KEY([FILE_GRP_SEQ])
REFERENCES [dbo].[SYS_FILE_GROUP] ([FILE_GRP_SEQ])
GO
ALTER TABLE [dbo].[SYS_EMAIL_FILE] CHECK CONSTRAINT [FK_SYS_FILE_GROUP_TO_SYS_EMAIL_FILE]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'이메일_파일_순번' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_EMAIL_FILE', @level2type=N'COLUMN',@level2name=N'EMAIL_FILE_SEQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'대용량파일그룹' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_EMAIL_FILE', @level2type=N'COLUMN',@level2name=N'FILE_GRP_SEQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'비고' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_EMAIL_FILE', @level2type=N'COLUMN',@level2name=N'RMK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'다운가능, 다운불가, 파일삭제' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_EMAIL_FILE', @level2type=N'COLUMN',@level2name=N'STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'등록_사용자_순번' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_EMAIL_FILE', @level2type=N'COLUMN',@level2name=N'REG_USER_SEQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'등록_일자' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_EMAIL_FILE', @level2type=N'COLUMN',@level2name=N'REG_DT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'삭제_일자' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_EMAIL_FILE', @level2type=N'COLUMN',@level2name=N'DEL_DT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'이메일 대용량 관리 기본키' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_EMAIL_FILE', @level2type=N'CONSTRAINT',@level2name=N'PK_SYS_EMAIL_FILE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'이메일 대용량 관리' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_EMAIL_FILE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'업무&첨부파일 연결 정보 관리 -> 이메일 대용량 관리' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_EMAIL_FILE', @level2type=N'CONSTRAINT',@level2name=N'FK_SYS_FILE_GROUP_TO_SYS_EMAIL_FILE'
GO
